In [13]:
import pandas as pd

df = pd.read_csv('Dataset.csv') #This will access the file and read the data.

df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [12]:
#To Find the total Duplicate Records.

Duplicate_Records = df.duplicated(subset='customerID').sum()

print(Duplicate_Records)

0

In [14]:
#To Find missing values of a variable.

Missing_Values = df['tenure'].isnull().sum()

print(Missing_Values)

0

In [19]:
#To get multiple Series.

das = df[['customerID','PaymentMethod']]
das.head(10)

   customerID              PaymentMethod
0  7590-VHVEG           Electronic check
1  5575-GNVDE               Mailed check
2  3668-QPYBK               Mailed check
3  7795-CFOCW  Bank transfer (automatic)
4  9237-HQITU           Electronic check
5  9305-CDSKC           Electronic check
6  1452-KIOVK    Credit card (automatic)
7  6713-OKOMC               Mailed check
8  7892-POOKP           Electronic check
9  6388-TABGU  Bank transfer (automatic)

In [24]:
#Calculate Avereage Monthly Charge

Avg = df['MonthlyCharges'].mean()
print(f"The Average of Month Charges is {Avg}")

The Average of Month Charges is 64.76169246059918

In [25]:
#Count records which has '#@$' or search something

Count = (df['InternetService'] == 'DSL').sum()
print(f"DataFrame contains {Count} DSL's")

DataFrame contains 2421 DSL's

In [26]:
#Count Duplicate records in customerID

dup_cid = df.duplicated(subset='customerID').sum()
print(f"Duplicate Records in Customer ID are {dup_cid}")

Duplicate Records in Customer ID are 0